# Normaliza texto por defecto
* text=auto

# Fuerza LF (Unix) en archivos sensibles
*.sh   text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.js   text eol=lf
*.mjs  text eol=lf
*.jsx  text eol=lf
*.css  text eol=lf
*.md   text eol=lf

# Binarios (no tocar)
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary
*.pdf  binary
*.db   binary
